@charset "UTF-8";
.top-info label{
	font-weight: bold;
}

#detailBox {
	padding-bottom: 50px;
}

.delivery-info td:first-child {
	width: 150px;
	background-color: #f9fafb;
}
	
.top-info input {
	border: none;
	width: 240px;
	background-color: transparent;
}

.delivery-info input {
	border: none;
	width: 410px;
	background-color: transparent;
}

.delivery-info input:focus,
.top-info input:focus {
	outline: none;
}

.order-detail td:first-child {
	width: 30px;
}
.order-detail td:nth-child(2) {
	width: 220px;
}
.order-detail td:nth-child(3) {
	width: 160px;
}
.order-detail td:nth-child(4){
   width: 60px;
}
.order-detail td:nth-child(5){
    width: 80px;
}
.order-detail td:nth-child(6){
    width: 80px;
}
.order-detail td:nth-child(7){
    width: 80px;
}
.order-detail td:nth-child(8){
    width: 100px;
}
.order-detail td:nth-child(9){
    width: 200px;
}
.order-detail td:nth-child(10){
    width: 80px;
}