@charset "UTF-8";

input[type="date"] {
	background: #fff
		url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
		89% 50% no-repeat !important;
}

input[type="date"]::-webkit-inner-spin-button {
	display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	opacity: 0;
}

input[type='date'] {
	height: 2.7em;
}